<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PruebaEntidades</servlet-name>
        <servlet-class>Utilidades.PruebaEntidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controladores.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatosTrabajador</servlet-name>
        <servlet-class>Controladores.ModificarDatosTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPasswordTrabajador</servlet-name>
        <servlet-class>Controladores.ModificarPasswordTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoVehiculoParticular</servlet-name>
        <servlet-class>Controladores.VehiculoParticular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaOfertaParam</servlet-name>
        <servlet-class>Controladores.BusquedaOfertaParam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscripcion</servlet-name>
        <servlet-class>Controladores.Inscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPasswordEmpresa</servlet-name>
        <servlet-class>Controladores.ModificarPasswordEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculoEmpresa</servlet-name>
        <servlet-class>Controladores.VehiculoEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaOferta</servlet-name>
        <servlet-class>Controladores.NuevaOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarNotificaciones</servlet-name>
        <servlet-class>Controladores.CargarNotificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarTrabajador</servlet-name>
        <servlet-class>Controladores.CargarTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaValoracion</servlet-name>
        <servlet-class>Controladores.NuevaValoracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaSolicitud</servlet-name>
        <servlet-class>Controladores.NuevaSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controladores.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>Controladores.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarSolicitudTrabajador</servlet-name>
        <servlet-class>Controladores.GestionarSolicitudTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarSolicitudesEmpresa</servlet-name>
        <servlet-class>Controladores.CargarSolicitudesEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTablas</servlet-name>
        <servlet-class>Main.CrearTablas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PruebaEntidades</servlet-name>
        <url-pattern>/PruebaEntidades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatosTrabajador</servlet-name>
        <url-pattern>/Trabajador/ModificarDatosTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPasswordTrabajador</servlet-name>
        <url-pattern>/Trabajador/ModificarPasswordTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoVehiculoParticular</servlet-name>
        <url-pattern>/Trabajador/VehiculoParticular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaOfertaParam</servlet-name>
        <url-pattern>/Trabajador/BusquedaOfertaParam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscripcion</servlet-name>
        <url-pattern>/Trabajador/Inscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPasswordEmpresa</servlet-name>
        <url-pattern>/Empresa/ModificarPasswordEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculoEmpresa</servlet-name>
        <url-pattern>/Empresa/VehiculoEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaOferta</servlet-name>
        <url-pattern>/Empresa/NuevaOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarNotificaciones</servlet-name>
        <url-pattern>/Trabajador/CargarNotificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarTrabajador</servlet-name>
        <url-pattern>/Empresa/CargarTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaValoracion</servlet-name>
        <url-pattern>/Empresa/NuevaValoracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaSolicitud</servlet-name>
        <url-pattern>/NuevaSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/admin/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarSolicitudTrabajador</servlet-name>
        <url-pattern>/admin/GestionarSolicitudTrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarSolicitudesEmpresa</servlet-name>
        <url-pattern>/admin/CargarSolicitudesEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTablas</servlet-name>
        <url-pattern>/CrearTablas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
